@model SistemaCDC.Models.SeguroMedico

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeguroMedico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimemto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaNacimemto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombrePadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombrePadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SeguroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
